.o-row {
    align-items: center;
    display: flex;
    gap: var(--space-sm);

    &.o-row--space-between {
        justify-content: space-between;
    }

    &.o-row--align-top {
        align-items: baseline;
    }
}
