.c-account-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-md);

    &__edit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-md);
    }

    &__input {
        inline-size: 100%;
        border-color: 1px solid var(--color-n-dark-grey);
        padding: var(--space-sm);
        background-color: transparent;
        color: var(--color-n-deep-grey);
        transition:
            border-color var(--transition-time-default) var(--transition-easing-default),
            background-color var(--transition-time-default) var(--transition-easing-default);

        &:focus-visible {
            outline: 2px solid var(--color-b-cyan);
        }

        &:hover {
            border-color: var(--color-b-cyan);
            background-color: var(--color-y-yellow);
        }
        
        &::placeholder {
            color: var(--color-n-grey);
        }
    }
}

.c-location-search {
    
    &__menu {
        background-color: var(--color-white);
        border: 1px solid var(--sem-border-color);
        overflow: hidden;
    }

    &__menu-item {
        box-shadow: 0;
        inline-size: 100%;
        text-align: left;
        padding: var(--space-sm);
        color: var(--color-n-deep-grey);
        transition:
            box-shadow var(--transition-time-default) var(--transition-easing-default),
            background-color var(--transition-time-default) var(--transition-easing-default);

        &:focus-visible {
            outline: 2px solid var(--color-b-cyan);
        }

        &:hover {
            background-color: var(--color-y-yellow);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        &.is-selected {
            background-color: var(--color-y-yellow);
        }
    }
}