.c-scheme-prefs {

    &__opts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--space-sm);
    }

    &__choice {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);
        padding: var(--space-sm);
        border: var(--border-width-hairline) solid var(--color-b-cyan);
        background-color: transparent;
        cursor: pointer;
        transition:
            background-color var(--transition-time-default) var(--transition-easing-default),
            border var(--transition-time-default) var(--transition-easing-default),
            padding var(--transition-time-default) var(--transition-easing-default);

        &:hover,
        &.is-selected {
            background-color: var(--color-y-yellow);
            border-color: var(--color-b-cyan);
            border-width: var(--border-width-thin);
            padding: calc(0.5rem - 2px);
        }
    }

    &__toggle {
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        border: var(--sem-border-color);
        padding: var(--space-md);
    }
}

.c-scheme-scroller {
    display: flex;
    gap: var(--space-md);
    overflow-x: auto;
    padding-inline: var(--space-md);
    margin-inline: calc(var(--space-md) * -1);
    scroll-snap-type: mandatory;

    .is-image {
        object-fit: cover;
    }

    .missing-image {
        background-color: var(--color-y-yellow);
        color: var(--color-r-marigold);
        display: flex;
        align-items: center;
        justify-content: center;
        inline-size: 100%;
        block-size: 100%;
    }

    .overlay-text {
        position: absolute;
        bottom: var(--space-sm);
        left: var(--space-xs);
        right: var(--space-xs);
        padding-inline: var(--space-sm);
        padding-block: var(--space-sm);
        background-color: rgba(0,0,0,0.5);
        color: var(--color-white);
        border-radius: var(--radius-pill);
        line-height: 1;
    }

    &__card {
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        width: min(60vw, 280px);
        height: min(60vw, 280px);
        border: var(--border-width-thin) solid transparent;
        scroll-snap-align: center;
        transition:
            border-color var(--transition-time-default) var(--transition-easing-default),
            width var(--transition-time-slow) var(--transition-easing-default);

        &.is-selected {
            border-color: var(--color-b-cyan);

            .overlay-text {
                background-color: var(--color-b-cyan);
                color: var(--color-g-deep-grey);
            }
        }

        &.is-disabled {
            opacity: 40%;
            cursor: not-allowed;
        }

        &:hover {
            border: var(--border-width-thin) solid var(--color-b-cyan);
            width: min(61vw, 300px);
        }
    }

    &__check {
        position: absolute;
        inset: var(--space-sm);
        border-radius: var(--radius-pill);
        display: flex;
        align-items: center;
        justify-content: center;
        inline-size: 2.5rem;
        block-size: 2.5rem;
        overflow: hidden;
        margin-left: auto;

        > .is-icon {
            inline-size: 2.5rem;
            block-size: 2.5rem;
            background-color: var(--color-b-cyan);
            color: var(--color-y-yellow);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__selected {
        overflow: hidden;
    }

    &__selected-list {
        display: flex;
        gap: var(--space-md);
        overflow-x: auto;
        padding-block-start: var(--space-xs);
    }

}
.scheme-scroller__selected-item {
    position: relative;
    flex-shrink: 0;
    inline-size: 100px;
    block-size: 100px;

    > .is-inner {
        position: absolute;
        inset: 0;
        overflow: hidden;
    }

    .is-image {
        object-fit: cover;
    }

    .missing-image {
        background-color: var(--color-y-yellow);
        inline-size: 100%;
        block-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-r-marigold);
    }

    .is-remove {
        position: absolute;
        top: -6px;
        right: -6px;
        height: 24px;
        width: 24px;
        border-radius: var(--radius-roundel);
        border: var(--border-width-hairline) solid transparent;
        display: flex;
        background-color: var(--color-white);
        color: var(--color-g-dark-grey);
        align-items: center;
        justify-content: center;
        transition:
        background-color var(--transition-time-default) var(--transition-easing-default),
        border-color var(--transition-time-default) var(--transition-easing-default);

        &:hover {
            color: var(--color-r-marigold);
            border-color: var(--color-r-marigold);
        }
    }
}

.scheme-scroller__placeholder {
    flex-shrink: 0;
    inline-size: 100px;
    block-size: 100px;
    border: var(--border-width-thin) dashed var(--sem-border-color);
}