.c-spotted-count {
    background-color: #e6e2c7;
    border-radius: var(--radius-m);
    overflow: hidden;
    padding-block-end: var(--space-md);

    &__count {
        color: var(--color-r-marigold);
    }

    &__progress-bar {
        border-radius: var(--radius-pill);
        background-color: #d8cf96;
        height: 8px;
        overflow: hidden;
    }

    &__progress-bar-complete {
        background-color: var(--color-r-marigold);
        height: 100%;
        transition-duration: var(--transition-time-default);
        transition-property: background-color;
    }
}

.c-spotted-count-scroller {
    display: flex;
    gap: var(--space-sm);
    overflow-x: auto;
    padding-inline: var(--space-md);
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-padding-inline: 20%;
}

.c-spotted-count__card {
    background-color: var(--color-white);
    border-radius: var(--radius-m);
    scroll-snap-align: center;
    flex: none;
    padding: var(--space-sm);
    position: relative;
    inline-size: 60%;
    max-width: 300px;
}

.c-spotted-count__media {
    position: relative;
    aspect-ratio: 1;
    inline-size: 100%;
    overflow: hidden;

    > img {
        object-fit: cover;
    }

    > button {
        bottom: var(--space-sm);
        right: var(--space-sm);
        position: absolute;
        z-index: 999;
    }
}