.o-progress-bar {
    border-radius: var(--radius-pill);
    background-color: var(--color-g-grey);
    height: 5px;
    overflow:hidden;
}

.o-progress-bar__complete {
    background-color: var(--color-r-marigold);
    height: 100%;
    transition-duration: var(--transition-time-default);
    transition-property: background-color;
}