.o-dialog {
    background-color: var(--color-white);
    border-radius: var(--radius-m);
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    max-width: 24rem;
    padding: var(--space-md);
    inline-size: 100%;

    &:focus {
        outline-style: none;
    }
}