.u-whitespace-pre-wrap {
  white-space: pre-wrap;
}

.u-margin-block-start {
  margin-block-start: var(--space-md);
}

.u-justify-end {
  display: flex;
  justify-content: flex-end;
}

.u-pad-block {
  padding-block: var(--space-md);
}

.island,
.u-island {
  padding: var(--space-md);
}