.u-whitespace-pre-wrap {
  white-space: pre-wrap;
}

.u-margin-block-start {
  margin-block-start: var(--space-md) !important;
}

.u-margin-top-auto {
  margin-block-start: auto !important;
}

.u-justify-end {
  display: flex;
  justify-content: flex-end;
}

.u-pad-block {
  padding-block: var(--space-md) !important;
}

.u-pad-inline {
  padding-inline: var(--space-md) !important;
}

.u-pad-block--flush {
  padding-block: 0 !important;
}

.island,
.u-island {
  padding: var(--space-md) !important;
}

.u-island--compact {
  padding: var(--space-sm) !important;
}

.u-w-100 {
  inline-size: 100% !important;
}

.u-expand {
    flex: 1 !important;
    min-width: 0 !important;
}